/* Soil.css */
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Soilheader {
  padding: 1px;
  color: white;
}

#Soil-header {
  font-size: 2em; /* Tamaño de la fuente */
  text-align: center; /* Centrar el texto */
}

.Soil-Page-Menu {
  position: relative; /* Posiciona el menú */
  display: inline-block; /* Para que se comporte como un botón */
}

.dropbtn {
  
  background-color: #03ba90; /* Color de fondo */
  color: rgb(255, 255, 255); /* Color del texto */
  font-size: 1em; /* Tamaño de la fuente */
  padding: 12px; /* Espaciado */
  font-size: 30px; /* Tamaño de la fuente */
  border: none; /* Sin borde */
  cursor: pointer;
  height: 10%; /* Cambia el cursor al pasar el mouse */
  font-weight: bold; /* Pone el texto en negrita */
}


.dropdown-content {
  display: block; /* Muestra el contenido cuando se activa */
  position: absolute; /* Posiciona el contenido */
  background-color: white; /* Color de fondo del menú */
  min-width: 200px; /* Ancho mínimo del menú */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 1; /* Asegura que el menú esté por encima de otros elementos */
  cursor: pointer;
  
}

.dropdown-content div {
  color: black; /* Color del texto */
  padding: 12px 16px; /* Espaciado dentro de los elementos del menú */
  text-decoration: none; /* Sin subrayado */
  display: block; /* Cada elemento en bloque */
}

.dropdown-content div:hover {
  background-color: #ffffff; /* Color de fondo al pasar el mouse */
}

.soil-info {
  margin-top: 20px; /* Espaciado superior */
  padding: 10px; /* Espaciado interno */
  color: rgb(253, 253, 253);
  font-size: larger;
  background-color: rgb(38, 96, 57);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 3%;
}

.soilimg{
  display: flex;
  width: auto;
  height: auto;
}


.soilimg img{
  width: 20%;
  height: 100%;
}

.soil-image{
  width: 50%;
  height: 50%;
  text-align: center;
}
