.App {
  text-align: center;
}
body{
  background-color: #4CAF50 ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  background-color: #333;
}
.App-header {  
  height:350px;    
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;    
    align-items: left;
    display: flex;    
    justify-content: left; 
    margin : 2px;
    padding :20px;
}
.logo, .Nombre{
  margin:5px;     
  vertical-align: center;    
text-align: center;
justify-content: center;
width: 23%;
height: 100%;
padding: 15px 15px 5px;
}

.Nombre{
  font-family: sans-serif;
  color:#fff;
  width:50%;
  padding-left: 10px;
  justify-content: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



